<div id='book-page'>
  <div class='container'>
    <h1 id=''>{{book.title}}</h1>
    <p>O livro tem {{book.pages}} páginas</p>
    <div class='actions'>
      <a href='/books/edit/{{book.id}}'>Editar</a>
    </div>
    <a href='/books'>Voltar</a>
  </div>
</div>