<h1>Meus Livros</h1>

<div class='books-container'>
  {{#each books}}
    <a href='/books/{{this.id}}'>
      <div>
        #
        {{this.id}}
        -
        <span class='bold'>{{this.title}}</span>
        -
        {{this.pages}}
        páginas
      </div>
    </a>
  {{/each}}
  <a href='/'>Voltar</a>
</div>