
  <h1>Olá Handlebars</h1>
  <p>bem vindo</p>
<p>Meu nome é {{user.name}} e eu tenho {{user.age}} anos</p>
{{#if auth}}
  <p>Você está logado, <a href="/dashboard">clique aqui</a> para acessar o dashboard!</p>
{{/if}}